@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins overflow-x-hidden;
  }
  .container {
    @apply max-w-[1600px] w-full px-4 mx-auto;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-sm;
  }
  p {
    @apply text-sm;
  }

  .toggle__menu {
    @apply flex flex-col gap-1 z-50 lg:hidden;
  }
  .toggle__menu span {
    @apply content-["*"] bg-primary w-5 h-[.2rem] rounded-lg ease-in-out duration-700;
  }
  .header__nav {
    @apply bg-white flex flex-col gap-5 top-[5.05rem] fixed py-5 font-semibold duration-700 right-[-100%];
  }
  .header__nav.open {
    @apply right-0 z-50 overflow-y-hidden w-[80%] h-full;
  }
  .toggle__menu.open span {
    @apply content-["*"] bg-primary w-5 h-[.2rem] rounded-lg ease-in-out duration-700;
  }
  .backdrop {
    @apply hidden;
  }
  .backdrop.open {
    @apply block fixed top-[5.1rem] left-0 h-screen w-full backdrop-blur-[5px] duration-700 overflow-y-hidden;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: all .7s ease-in-out;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all .7s ease-in-out;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -5px) rotate(-225deg);
    transition: all .7s ease-in-out;
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 bg-transparent border-transparent rounded-xl shadow-[0_8px_24px_-15px_rgba(149,157,165,0.2)];
  }
  .btn.bgclr{
    @apply bg-transparent text-black border border-black rounded-3xl hover:bg-black/20 px-5 hover:duration-300;
  }
  .btn.bgdark{
    @apply bg-black text-white border border-black rounded-3xl hover:bg-black/20 px-5 hover:duration-300;
  }
  .btn.bglight{
    @apply bg-transparent text-white border border-white rounded-3xl hover:bg-black/20 px-5 hover:duration-300;
  }
}

@layer utilities {
}
